<form class="form-signin" ng-submit="forgetPwdFn()">
    <h2 class="form-signin-heading">
        Enter your e-mail address below to reset your password.
    </h2>
    <div class="login-wrap">
        <div class="user-login-info">
            <input type="text" class="form-control" placeholder="Email Address" autofocus ng-model="email">
        </div>
        <label class="checkbox">
            &nbsp;
            <span class="pull-right">
                <a ui-sref="signin"> Login</a>
            </span>
        </label>
        <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>
    </div>

</form>