<div class="row form-group">
    <div class="col-md-12 text-right">
        <button class="btn btn-info" type="button" ui-sref="app.university.add">Add University</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Universities
                <input type="text" ng-model="search" class="form-control" placeholder="search">
            </header>
            <div class="panel-body">
                <table class="table table-hover table-bordered" ng-show="universities.length">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "u in universities | filter:search">
                            <td>{{$index + 1}}</td>
                            <td class="custom">
                                <span editable-text="u.name" onbeforesave="updateUniversityFn($data,'name',u.id)">
                                    {{u.name}}
                                </span>
                            </td>
                            <td class="custom">
                                <span editable-textarea="u.description" onbeforesave="updateUniversityFn($data,'description',u.id)">
                                    {{u.description|| '--'}}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-confirm-click confirmed-click="deleteUniversityFn(u.id)" type="button"  uib-tooltip="Delete University"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-primary" type="button" ui-sref="app.university.course({id:u.id})" uib-tooltip="Add Course"><i class="fa fa-plus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-danger" ng-show="universities.length == 0">
                    <div class="notification-info">
                        <ul class="clearfix notification-meta">
                            <li class="pull-left notification-sender">
                                <h3><span><a href>No Universities Found</a></span> please add more </h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div ui-view></div>